<div class="todo-form">
    <h2>Create a New Todo</h2>
    <form class="container" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" formControlName="title" class="form-control">
      </div>
      <br/>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control"></textarea>
      </div>
      <br/>
      <button type="submit"
       class="btn btn-primary"
       
       >Add Todo</button>
    </form>
  </div>
 
  
  
  <!-- [disabled]="!todoForm.valid" -->
  

    
